.col-2 {
  background: white;
  margin: 3px;
  text-align: center;
  cursor: pointer;
  height: 50px;

  padding-top: 15px;
}
.container {
  background-color: tomato;
  margin-top: 20px;
}
body {
  background-color: tomato;
}
.col-12 {
  text-align: center;
}
.row {
  text-align: center;
}
